.Choice {
	width: 100px;
	height: 40px;
}

.panel {
	width: calc(100% - 200px);
	height: 400px;
	border: 2px solid brown;
	background-color: beige;
	position: relative;
	left: 200px;
}

#textWindow{
	font-size:12;
	font-family:fantasy;
}

#buttonTable{
	background-color:beige;
	position: relative;
}

button{
	background-color:DarkGreen;
	border: 1px solid black;
	border-radius: 3px;

}