.Choice {
	width: 100px;
	height: 40px;
	border: 1px solid black;
	border-radius: 3px;
}

.panel {
	width: 100%;
	height: 400px;
	border: solid;
}

.Dir {
	background-color: #AAAAAA;
}

#textWindow{
	font-size:12;
	font-family:arial;
}
